AskGem/.vs/*
AskGem/Community.PowerToys.Run.Plugin.AskGem/bin/*
AskGem/Community.PowerToys.Run.Plugin.AskGem/obj/*
AskGem/Community.PowerToys.Run.Plugin.AskGem/properties/*
AskGem/Community.PowerToys.Run.Plugin.AskGem.UnitTests/bin/*
AskGem/Community.PowerToys.Run.Plugin.AskGem.UnitTests/obj/*